<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Terms&amp;ConditionsLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E171B652114238E00ED6418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E171B792114238E00ED6418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E171B842114238E00ED6418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
